*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
div{
 height: 40px;
 width: 40px;
 background-color: aqua;
 display: inline-block;
 margin-bottom: -5px;
}
.container{
    height:930px;
    width: 1850px;
    background-color: pink;
    display: flexbox;
    
 
}
.column{
    
}
.top{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 1850px;
    background-color: green;
    height:20px;
}